/* Main styles */
.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    border-bottom: 2px dotted #b3b3b3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
}

.nav-bar-container > .nav-bar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-bottom: 25px;
}

/* Right column styles */
.nav-bar-container > .nav-bar > .right-column {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-container > .nav-bar > .right-column > .search {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
    width: 80%;
}

.nav-bar-container > .nav-bar > .right-column > .search input {
    font-family: 'Antic Slab', serif;
    font-size: 2rem;
    border: none;
    width: 100%;
}

.nav-bar-container > .nav-bar > .right-column > .search input:focus,
.nav-bar-container > .nav-bar > .right-column > .search input:active {
    outline: none;
}

.nav-bar-container > .nav-bar > .right-column > .search svg {
    margin-right: 12px;
}

.nav-bar-container > .nav-bar > .right-column button {
    border: 1px solid black;
    padding: 10px;
    transition: 0.4s ease-in-out;
    font-size: 0.9em;
}

.nav-bar-container > .nav-bar > .right-column button:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    border: 1px solid transparent;
    background-color: rgb(27, 27, 27);
    color: rgb(241, 241, 241);
    font-weight: 500;
}

/* Left column styles */
.nav-bar-container > .nav-bar > .left-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

/* SVG styles */
.nav-bar-container > .nav-bar svg {
    width: 45px;
}

.nav-bar-container > .nav-bar > .left-column svg {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.nav-bar-container > .nav-bar > .left-column svg:hover {
    border: 1px solid #949494;
}