/* Main container styles */
.page-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 170px;
}

.page-container > .column {
  width: 50%;
}

/* Specific element styles */
  
h1 {
  font-family: 'EB Garamond', serif;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-weight: 300;
}

button:focus, button:active {
  outline: none;
}