.page-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 125px;
}

.page-container > .column {
  width: 50%;
}

pre {
  font-family: inherit;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
}
  
h1 {
  font-family: 'EB Garamond', serif;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-weight: 300;
}

button:focus, button:active {
  outline: none;
}