/* Element styles */
.recipe-body-container {
    font-family: inherit;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 2;
    letter-spacing: 1px;
}

p {
    margin: 0;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Main container styles */
.recipe-detail-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Dates container styles */
.recipe-detail-heading > .recipe-heading-data > .dates-container {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    letter-spacing: 2px;
    margin-top: 20px;
}

.recipe-detail-heading > .recipe-heading-data > .dates-container > .important-date {
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 10px;
}

.recipe-detail-heading > .recipe-heading-data > .dates-container > .minor-date {
    font-style: italic;
    color: #363636;
    font-size: 0.9em;
}

/* Creator container styles */
.creator-container {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-bottom: 35px;
    margin-top: 13px;
    /* padding-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185); */
}

.creator-container > .profile-picture {
    width: 40px;
    border-radius: 50%;
}

.creator-container > .text {
    letter-spacing: 2px;
    margin-left: 15px;
    font-weight: bold;
    font-family: "Antic Slab", serif;
}

/* Styles for the actions buttons like edit/delete */
.recipe-action-btn-container {
    position: fixed;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    margin-left: 10px;
}

.recipe-action-btn-container button {
    border: 1px solid black;
    padding: 10px;
    transition: 0.4s ease-in-out;
    width: 70px;
}

.recipe-action-btn-container button:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
    border: 1px solid transparent;
    color: rgb(241, 241, 241);
    font-weight: 500;
}

.recipe-action-btn-container > .edit-btn:hover {
    background-color: rgb(8, 99, 0);
}

.recipe-action-btn-container > .delete-btn:hover {
    background-color: rgb(196, 0, 0);
}