/* Element styles */
pre {
    font-family: inherit;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Main container styles */
.recipe-detail-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Dates container styles */
.recipe-detail-heading > .recipe-heading-data > .dates-container {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    letter-spacing: 2px;
    margin-top: 20px;
}

.recipe-detail-heading > .recipe-heading-data > .dates-container > .important-date {
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 10px;
}

.recipe-detail-heading > .recipe-heading-data > .dates-container > .minor-date {
    font-style: italic;
    color: #363636;
    font-size: 0.9em;
}

/* Creator container styles */
.creator-container {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-bottom: 35px;
    margin-top: 13px;
    /* padding-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185); */
}

.creator-container > .profile-picture {
    width: 40px;
    border-radius: 50%;
}

.creator-container > .text {
    letter-spacing: 2px;
    margin-left: 15px;
    font-weight: bold;
    font-family: "Antic Slab", serif;
}