.result-heading-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.result-heading-container > .result-heading {
    font-weight: 300;
    margin-top: -15px;
}

.result-heading-container > .result-heading > .search-query {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 8px;
}

.result-section {
    margin-bottom: 30px;
}

.no-results-found-total {
    font-weight: 300;
    font-style: italic;
}

.no-results-found-total span {
    font-weight: bold;
    font-style: initial;
}

.no-results-found-section-heading {
    font-family: 'EB Garamond', serif;
    font-size: 1.8em;
}

.no-results-found-section-heading::before {
    content: '... ';
}