.recipe-btn {
    border: 1px solid white;
    border-left: 2px solid white;
    padding: 12px 12px 12px 30px;
    font-size: 1.06rem;
    transition: 0.5s ease border-left-color;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.recipe-btn:hover {
    border-left: 2px solid black;
}